*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

.load{
    overflow: hidden;
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.janela{
    /* width: 800px;
    height: 600px;   */
    background-color: #00000011;    
    /* resize: both;
    overflow: auto; */
}

/* .gameScreenCanvas{ */
    /* border: solid 1px black; */
    /* overflow: auto;
    resize: both;
    overflow: auto; */
    /* background-color: #00000022; */
/* } */

.buttons_bets{
    position: fixed;
    bottom: 100px;
    padding: 50px 0;
    
}